/* .body {
  height: 100%;
  z-index: 30;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: auto;
  background: linear-gradient(180deg, rgb(218, 16, 236), hsl(229, 64%, 22%));
  background-size: 600% 100%;
  animation: gradient 5s linear infinite;
  animation-direction: alternate-reverse;
} */
