<section class="jumbotron text-center mt-5">
  <div class="container">
    <h1 class="jumbotron-heading">Admins Registered List</h1>
  </div>
</section>

<div class="col-md-12">
  <div class="table-conatiner table-responsive">
    <table class="table mt-3">
      <thead class="table table-bordered table-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="table table-bordered table-success">
        <tr *ngFor="let row of adminData">
          <td>{{ row.name }}</td>
          <td>{{ row.email }}</td>
          <td>{{ row.mobile }}</td>
          <td>
            <button
              class="btn btn-info mr-2"
              (click)="onEdit(row)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Edit
            </button>

            <button class="btn btn-danger" (click)="deleteAdmin(row)">
              Delete
            </button>

            <button class="btn btn-warning" (click)="getAdminById(row)">
              Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Admin Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              placeholder="Enter Full Name"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Email Id</label>
            <input
              type="email"
              class="form-control"
              placeholder="Enter Email Id"
              formControlName="email"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">User Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="User Name"
              formControlName="userName"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="password"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mobile</label>
            <input
              type="number"
              class="form-control"
              placeholder="Mobile"
              formControlName="mobile"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" (click)="updateAdminDetails()">
          update
        </button>
      </div>
    </div>
  </div>
</div>
