<p>about works!</p>

<div>
  <div class="container-fluid">
    <div>
      <img
        src=" https://picsum.photos/200/300"
        alt="image not Found"
        width="960px"
      />
    </div>
  </div>
</div>

  <div className="container-fluid">
          <div className="bg-info p-3">
            <div>
              <h2> AArogya  nikatan health SERVICE </h2>
              <br />
              <h4>
                Gone are the days when you had to stand in queue waiting for
                your turn to deposit/withdraw money. Getting a bank statement or
                updating passbook seemed like a difficult task. Sometimes the
                work which generally takes minutes took hours. Now, with digital
                savings account there is no need to worry. You can manage all
                your banking activities without even going to the branch.
              </h4>
              <br />
              <p>
                With the emergence of the concept of digital savings account it
                is easier to manage the account. A digital savings account is
                paperless, fast and secure way for opening an account on a
                digital platform. With the help of a digital savings account,
                the account holder can avail banking services like instant
                transfer, phone banking, SMS banking etc. Additionally, there
                are free email and SMS alerts. Listed below are few advantages
                of a digital Loan account
              </p>
              <br />
              <button class="btn btn-warning btn-lg">Get in Touch </button>
            </div>
          </div>
        </div>

