<div class="container-fluid">
  <div class="text-center mt-5 p-4">
    <h1>Aarogya Niketan</h1>
    <div class="mt-3">
      <img
        src="
      https://play-lh.googleusercontent.com/2FV06dPOPcV-vupN9_9zqPn-pUUio-OzbnqktzIVCdkPcBRRtqo-k63G1DLgIeuJD1np"
        alt="image not Found"
        width="300px"
        height="300px"
        style="border-radius: 50px;"
      />
    </div>
    <div class="mt-3">
      <p>
        <strong>
          The word health refers to a state of complete emotional and physical
          well-being. Aarogya Niketan exists to help people maintain this
          optimal state of health.
        </strong>
      </p>
    </div>
  </div>
</div>
