<section class="jumbotron text-center">
  <div class="container mt-5">
    <h1 class="jumbotron-heading">Register Here</h1>
  </div>
</section>
<div>
  <div class="body">
    <div class="row">
      <div class="col-6 d-none d-md-block">
        <div class="col-12">
          <form ref="{formEL}">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Enter Name"
              />
            </div>

            <div class="form-group">
              <input
                type="email"
                class="form-control"
                placeholder="Enter Email"
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Enter Mobile"
              />
            </div>

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Pan" />
            </div>

            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Enter password"
              />
            </div>
            <div>
              <Button variant="outline-primary" class="w-100 mb-3">
                Register
              </Button>
            </div>
          </form>
        </div>
      </div>

      <div class="col-4 col-md-4">
        <h3 class="alert alert-info text-center">Admin Login</h3>

        <input
          type="email"
          class="form-control mb-2"
          placeholder="Enter Email"
        />
        <input
          type="password"
          class="form-control mb-2"
          placeholder="Enter Password"
        />
        <input
          type="button"
          class="btn btn-outline-success w-100"
          value="Login"
        />
      </div>
      <div className="col-6 col-md-6  d-none d-md-block"></div>
    </div>
  </div>
</div>
