input[type="text"],
input[type="email"],
input[type="password"],
input[type="mobile"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid rgb(103, 40, 250);
  box-sizing: border-box;
  border-radius: 8px;
}

button {
  background-color: #8223ad;
  color: rgb(29, 27, 27);
  font-size: larger;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
