<section class="jumbotron text-center section">
  <div class="container">
    <h1 class="jumbotron-heading">Admin DashBoard</h1>

    <p>
      <a href="/admin-list" class="btn btn-primary mt-2 mr-3"
        >Admin Registered List</a
      >
      <a href="/booking-status" class="btn btn-primary mt-2 mr-3"
        >Booking Status</a
      >

      <a href="/hospital-list" class="btn btn-primary mt-2 mr-3"
        >Hosptial Information</a
      >
    </p>
    <p>
      <a
        href="/generate-hospital"
        (click)="clickAddHospital()"
        class="btn btn-success mt-2 mr-3"
      >
        Add Hospital</a
      >
    </p>
  </div>
</section>
<!-- tabel  
<div class="col-md-12">
  <div class="table-container table-responsive">
    <table class="table mt-3">
      <thead class="table table-bordered table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Hosptial Name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile</th>
          <th scope="col">Location</th>
          <th scope="col">Address</th>
          <th scope="col">Beds Available</th>
          <th scope="col">Ventilation</th>
          <th scope="col">ICUs</th>
          <th scope="col">IsolationWard</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="table table-bordered table-success">
        <tr *ngFor="let row of hospitalData">
          <td>{{ row.id }}</td>
          <td>{{ row.hospitalName }}</td>
          <td>{{ row.email }}</td>
          <td>{{ row.mobile }}</td>
          <td>{{ row.location }}</td>
          <td>{{ row.address }}</td>
          <td>{{ row.bedsAvailable }}</td>
          <td>{{ row.ventilation }}</td>
          <td>{{ row.icus }}</td>
          <td>{{ row.isolationWard }}</td>

          <td>
            <button (click)="onEdit(row)" class="btn btn-info mr-2">
              Edit
            </button>

            <button (click)="deleteHospital(row)" class="btn btn-danger">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br /><br />
  <hr />
  <hr />
</div> -->

<!-- Modal
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hosptial Information</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="form-group">
            <label for="exampleInputEmail1" class="form-label">
              Hosptial Name</label
            >
            <input
              type="text"
              fromControlName="hospitalName"
              class="form-control"
              placeholder="Enter Hospital Name"
              required
            />
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              fromControlName="email"
              class="form-control"
              placeholder="Enter the Vaild Email"
              required
            />
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1" class="form-label">Mobile</label>
            <input
              type="number"
              fromControlName="mobile"
              class="form-control"
              placeholder="Enter the Hospital Contact Number"
              required
            />
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1" class="form-label">Location</label>
            <input
              type="text"
              fromControlName="location"
              class="form-control"
              placeholder="Enter the Location"
              required
            />
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1" class="form-label">Address</label>
            <input
              type="text"
              fromControlName="address"
              class="form-control"
              placeholder="Enter the Address"
              required
            />
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1" class="form-label"
              >Beds Availabe</label
            >
            <input
              type="number"
              fromControlName="bedsAvailable"
              class="form-control"
              placeholder="Enter the Beds Avaibility"
              required
            />
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1" class="form-label"
              >Ventilation</label
            >
            <input
              type="number"
              fromControlName="ventilation"
              class="form-control"
              placeholder="Enter Ventilations Available"
              required
            />
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1" class="form-label">ICUs</label>
            <input
              type="number"
              fromControlName="icus"
              class="form-control"
              placeholder="Enter the ICUS Avaible"
              required
            />
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1" class="form-label"
              >IsolationWard</label
            >
            <input
              type="number"
              fromControlName="isolationWard"
              class="form-control"
              placeholder="Enter IsolationWards Avaiblity"
              required
            />
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
        <button (click)="postHospitalDetails()" class="btn btn-primary">
          Add
        </button>
        <button (click)="updateHospitalDetails()" class="btn btn-primary">
          Update
        </button>
      </div>
    </div>
  </div>
</div>
 -->
