<p>home works!</p>
<div class="container">
  <!-- Heading Row -->

  <div class="row align-items-center my-5">
    <div class="col-lg-7">
      <img
        class="img-fluid rounded mb-4 mb-lg-0"
        src="https://play-lh.googleusercontent.com/2FV06dPOPcV-vupN9_9zqPn-pUUio-OzbnqktzIVCdkPcBRRtqo-k63G1DLgIeuJD1np"
        alt="image not found"
      />
    </div>

    <!-- /.col-lg-8 -->

    <div class="col-lg-5">
      <h1 class="font-weight-light">World’s #1 Health Care</h1>

      <p>
        1,000,000  + more Lifes Saved <br />

        1,000s of lives saved every Day <br />

        100%  Success
      </p>

      <a class="btn btn-warning" href="#">Explore more</a>
    </div>

    <!-- /.col-md-4 -->
  </div>

  <!-- /.row -->

  <!-- Call to Action Well -->

  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0" style="font-size: xx-large">
         Save Life .. Spread Happiness..!!
      </p>
    </div>
  </div>
</div>
