<section class="jumbotron text-center rounded">
  <div class="container mt-5">
    <h1 class="jumbotron-heading">Facilities DashBoard</h1>
  </div>
</section>

<div class="text-center mb-3">
  <h1>Facilities Available In Hospitals</h1>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
  <div class="col">
    <div class="card border-primary"  >
      <img src="..." class="card-img-top" alt="Image NOt Found" />
      <div class="card-body text-primary ">
        <h5 class="card-header text-center">Ambulance Services</h5>
        <p class="card-text  text-warning">
          24 hours patient transport vehicle available. Patients are transported
          from home to hospital and patients referred by emergency duty doctor
          to empanelled hospital for specialized care.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-primary">
      <img src="..." class="card-img-top" alt="Image NOt Found" />
      <div class="card-body text-primary">
        <h5 class="card-header text-center">Covid Wards</h5>
        <p class="card-text text-warning">
          If their COVID-19 test comes back as positive for the virus, they may
          be moved to a 'confirmed COVID-19 ward' to receive their care, and may
          share a bay with ...
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-primary">
      <img src="..." class="card-img-top" alt="Image Not Found" />
      <div class="card-body text-primary">
        <h5 class="card-header text-center">ICUS</h5>
        <p class="card-text text-warning">
          The intensive care unit (ICU), also known as critical care or
          intensive treatment unit (ITU), is where we care for patients who are
          critically ill.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-primary">
      <img src="" class="card-img-top" alt="Image NOt Found" />
      <div class="card-body text-primary">
        <h5 class="card-header text-center">Isolation Wards</h5>
        <p class="card-text text-warning">
          It provides for the improvement and enlargement of special hospitals.
          It emphasizes the necessity for enlarging facilities to meet the
          medical needs.
        </p>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
    <div class="col">
      <div class="card border-primary">
        <img src="" class="card-img-top" alt="Image Not Found" />
        <div class="card-body text-primary">
          <h5 class="card-header text-center">Birth centers</h5>
          <p class="card-text text-warning">
            A birth center is a healthcare facility for childbirth that focuses
            on the midwifery model. They aim to create a birth environment that
            feels more comfortable to the mother and allows for a
            cost-effective, family-inclusive birth.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary">
        <img src="..." class="card-img-top" alt="Image Not Found" />
        <div class="card-body text-primary">
          <h5 class="card-header text-center">Blood banks</h5>
          <p class="card-text text-warning">
            Blood banks allow donors to donate blood and platelets while also
            storing and sorting blood into components that can be used most
            effectively by patients. Blood is essential for human life, and it
            can’t be manufactured—only donated. So these facilities work to
            build the supply for patients who need it.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary">
        <img src="..." class="card-img-top" alt="Image Not Found" />
        <div class="card-body text-primary">
          <h5 class="card-header text-center">Clinics and medical offices</h5>
          <p class="card-text text-warning">
            Many people go to a clinic for routine doctor’s appointments and
            checkups. These healthcare facilities can be a physician’s private
            practice, a group practice setting or a corporately owned clinic
            that may be connected to a larger healthcare system or hospital.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary">
        <img src="..." class="card-img-top" alt="Image Not Found " />
        <div class="card-body text-primary">
          <h5 class="card-header text-center">Emergency department</h5>
          <p class="card-text text-warning">
            Our emergency departments provide treatment for patients who require
            immediate care, either as a result of an accident or a medical or
            surgical emergency, 24-hours a day, 365 days a year.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
    <div class="col">
      <div class="card border-primary">
        <img src="..." class="card-img-top" alt="Image Not Found" />
        <div class="card-body text-primary">
          <h5 class="card-header text-center">Dialysis Centers</h5>
          <p class="card-text text-warning">
            Patients with kidney disease often need regular treatments of
            dialysis. Dialysis is a process that filters and cleans the blood
            artificially—the work functioning kidneys normally take on
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary">
        <img src="..." class="card-img-top" alt=" Image Not Found" />
        <div class="card-body text-primary">
          <h5 class="card-header text-center">Imaging and radiology centers</h5>
          <p class="card-text text-warning">
            These facilities, much like their hospital counterparts, offer
            diagnostic imaging services to patients. Diagnostic imaging includes
            CT scans, ultrasounds, X-rays, MRIs and more.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary">
        <img src="..." class="card-img-top" alt="Image Not Found" />
        <div class="card-body text-primary">
          <h5 class="card-header text-center">
            Orthopedic and other rehabilitation centers
          </h5>
          <p class="card-text text-warning">
            Orthopedic medicine deals with muscles and bones. Physical
            therapists are typically the practitioner patients see for problems
            in these areas of the body.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary">
        <img src="..." class="card-img-top" alt="Image NOt Found" />
        <div class="card-body text-primary">
          <h5 class="card-header text-center">Laboratory services</h5>
          <p class="card-text text-warning">
            Trained laboratory staff are providing best services which includes
            painless blood withdrawal Services of one NABL accredited laboratory
            are also available for carrying out specialised tests, they collect
            sample from 8 AM to 12 noon in Hospitals.
          </p>
        </div>
      </div>
    </div>
  </div>

  <br /><br />
  <hr />
  <hr />
</div>
