<section class="jumbotron text-center section">
  <div class="container">
    <h1 class="jumbotron-heading">Booking Status</h1>
  </div>
</section>



<div class="col-md-12">
  <div class="table-conatiner table-responsive">
    <table class="table mt-3">
      <thead class="table table-bordered table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">PatientName</th>
          <th scope="col">Mobile</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="table table-bordered table-success">
        <tr *ngFor="let row of bookingData">
           <td>{{ row.id }}</td>
          <td>{{ row.patientName }}</td>
          <td>{{ row.mobile }}</td>
          <td>
            <button
              class="btn btn-info mr-2"
              (click)="onEdit(row)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Edit
            </button>

            <button class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


