<app-navbar></app-navbar>

<h1 class="head">“Helping to facilitate right care at the right time”.</h1>
<div class="an">
  <h1>AAROGYA NIKETAN</h1>
</div>

<nav>
  <button type="button" class="btn btn-warning mr-4">
    <a routerLink="/home">HOME </a>
  </button>
  <button type="button" class="btn btn-warning mr-4">
    <a routerLink="/departments">Departments</a>
  </button>
  <button type="button" class="btn btn-warning mr-4">
    <a routerLink="/booking-status">Booking Status</a>
  </button>

  <button type="button" class="btn btn-warning mr-4">
    <a routerLink="/hospital-information">Hospital Information</a>
  </button>
</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>
