<div class="container mt-5">
  <h2>Login Form</h2>

  <form action="/action_page.php" method="post">
    <div class="imgcontainer">
      <img
        src="https://www.w3schools.com/howto/img_avatar2.png"
        alt="Avatar"
        class="avatar"
      />
    </div>
    <div class="row">
      <div class="col-3 col-md-3 d-none d-md-block"></div>
      <div class="col-12 col-md-6">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" required />

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" required />

        <button type="submit">Login</button>
        <label> <input type="checkbox" checked="checked" /> Remember me </label>
      </div>
      <div class="col-3 col-md-3 d-none d-md-block"></div>
    </div>
  </form>
  <div class="row">
    <div class="col-3 col-md-3 d-none d-md-block"></div>
    <div class="col-12 col-md-6">
      <p class="text-center"><a href="/register">Sing Up Here...!!</a></p>
      <button type="button" class="cancelbtn">Cancel</button>

      <span class="psw">Forgot <a href="/register">password?</a></span>
    </div>
  </div>
  <div class="col-3 col-md-3 d-none d-md-block"></div>

  <br /><br />
  <hr />
</div>
