<section class="jumbotron text-center">
  <div class="container mt-5">
    <h1 class="jumbotron-heading">Hosptial Information</h1>
    <p style="color: rgb(110, 14, 219)">Search Our Nearer Hosptial</p>
    <form class="d-flex row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <input
          class="form-control mr-2 alert-primary"
          type="search"
          placeholder="Search Our City Here..."
          aria-label="Search"
        />
      </div>
      <div class="col-md-1">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </form>
  </div>
</section>

<!-- tabel -->
<div class="col-md-12">
  <div class="table-container table-responsive">
    <table class="table mt-3">
      <thead class="table table-bordered table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Hosptial Name</th>
          <th scope="col">Mobile</th>
          <th scope="col">Location</th>
          <th scope="col">Beds Available</th>
          <th scope="col">ICUs</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="table table-bordered table-success">
        <tr *ngFor="let row of hospitalData">
          <td>{{ row.id }}</td>
          <td>{{ row.hospitalName }}</td>
          <td>{{ row.mobile }}</td>
          <td>{{ row.location }}</td>
          <td>{{ row.bedsAvailable }}</td>
          <td>{{ row.icus }}</td>
          <td>
            <button class="btn btn-warning" (click) = "getHostipal(row)">
               Get Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
